name: deployer/control
run-name: deployer/control
on:
  workflow_dispatch:
    branch:
      - main
jobs:
  deployer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Deployer
        uses: "./actions/control"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
